.photoupload-queue 
{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	padding-left:0px;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 11px;
}
.photoupload-queue li 
{
	padding:5px 0pt 5px 0px;
	clear: both;
}
.photoupload-queue .queue-file 
{
	float:left;
	font-weight:bold;
	position:relative;
}
.photoupload-queue .queue-size 
{
	color:#AAAAAA;
	float:left;
	margin-left:1em;
	overflow:hidden;
	width:70px;
}
.photoupload-queue .queue-loader 
{
	background-color:#F2F2F2;
	border:1px solid #999999;
	color:#FFFFFF;
	float:right;
	height:18px;
	margin:3px 15px;
	position:relative;
	top:-3px;
	width:100px;
}
.photoupload-queue .queue-subloader 
{
	background-color:#9ac0e7;
	color: #ffffff;
	/*background-image:url(images/status-bar.gif);*/
	height:100%;
	left:0pt;
	position:absolute;
	text-align:center;
	top:0px;
	width:0%;
}
.photoupload-queue .input-delete 
{
	border:medium none;
	float:right;
	height:18px;
	text-align:right;
	text-decoration:none;
}
.uploadIcon 
{
	float:left;
	height:25px;
	padding:0px 5px;
	position:relative;
	top:-4px;
	width:25px;
}
		
.photoupload-queue .input-delete img
{
	border: none;
	margin-top: 2px;
}